<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" as="image" href="assets/img/rachel_verdaccio_large2.webp" imagesrcset="assets/img/rachel_verdaccio_large2.webp 1x" imagesizes="(max-width: 600px) 300px, 300px" fetchpriority="high" />
  <title>{{page.title}}</title>
  <meta name="description" content="Roger Ehmpke, Oilpainting">
  <meta name="keywords" content="Roger Ehmpke, Paint, Oil painting, Oil painter, Artist">
  <meta name="robots" content="index,follow,max-image-preview:large,max-snippet:-1,max-video-preview:-1">
  <meta name="copyright" content="© 2025 Roger Ehmpke. All rights reserved.">
  <meta name="license" content="All Rights Reserved">
  <meta name="referrer" content="strict-origin-when-cross-origin" />
  <meta name="theme-color" content="#3b4874">
  {% include styles/vendor.html %}
  {% include styles/fonts.html %}
  {% include styles/main.html %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  <link rel="manifest" href="./manifest.json">
  <meta property="og:title" content="Roger Ehmpke - Oil Painter">
  <meta property="og:site_name" content=" - Roger Ehmpke">
  <meta property="og:url" content=" - https://www.oilstrokes.com">
  <meta property="og:description" content="Roger Ehmpke, Oil Painter">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@http://twitter.com/rehmpke">
  <meta name="twitter:title" content="Roger Ehmpke - Oil Painter">
  <meta name="twitter:description" content="Roger Ehmpke, Oil Painter">
  <!-- Preconnects -->
  <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
</head>
<body>
